//MAIN-COLORS
$color-1: #ffffff;
$color-2: #aa8960;
$color-3: #3b1616;
$color-4: #4b1c1c;

//FONT-SIZES
$sm-font-size: 14px;
$md-font-size: 28px;
$lg-font-size: 96px;

$infobox-title-size: 20px;

//MEDIA QUERYS BREAKPOINTS
$sm-devices: 576px;
$md-devices: 768px;
$lg-devices: 992px;
$xl-devices: 1200px;

