//MAIN-COLORS
$color-1: #ffffff;
$color-2: #aa8960;
$color-3: #3b1616;
$color-4: #4b1c1c;
$color-5: #8c0722;
$color-6: #000000;

//FONT-SIZES
$sm-font-size: 14px;
$md-font-size: 28px;
$lg-font-size: 96px;

$infobox-paragraph-size: 18px;
$infobox-title-size: 24px;

//FONT-FAMILYS
$play-fair: PlayFairDisplay;
$source-sans: SourceSansPro;

//MEDIA QUERYS BREAKPOINTS
$sm-devices: 576px;
$md-devices: 768px;
$lg-devices: 992px;
$xl-devices: 1200px;

