//MAIN-COLORS
$color-1: #ffffff;
$color-2: #aa8960;
$color-3: #000000;
$color-4: #004534;
$color-5: #043327;

//FONT-SIZES
$sm-font-size: 14px;
$md-font-size: 28px;
$lg-font-size: 96px;

$infobox-paragraph-size: 18px;
$infobox-title-size: 24px;

//FONT-FAMILYS
$play-fair: PlayFairDisplay;
$source-sans: SourceSansPro;

//MEDIA QUERYS BREAKPOINTS
$sm-devices: 576px;
$md-devices: 768px;
$lg-devices: 992px;
$xl-devices: 1200px;

